<div class="home-video">

	<div class="wrapper wrapper--margins">

		<div class="content{% unless settings.home-video-code == blank %} push-up {% endunless %}">
			<div class="display-table">
				<h2 class="display-table-cell huge-title">
					{% if settings.home-video-text != blank %}
						{{ settings.home-video-text }}
					{% else %}
						{{ 'homepage.onboarding.welcome' | t }}
					{% endif %}
					</h2>
			</div>
		</div>

		{% unless settings.home-video-code == blank %}
			<a href="{{ settings.home-video-code }}" class="video-overlay"><span class="video-button">{% include 'asset_svg' with 'play_arrow' %}</span></a>
		{% endunless %}

	</div>

	<style>
	  @media screen and (max-width: 600px) {
	    .prlx-bg {
	      background-image: url("{{ 'home-video-bg.jpg' | asset_img_url: 'grande' }}");
	    }
	  }
	  @media screen and (min-width: 601px) and (max-width: 1024px) {
	    .prlx-bg {
	      background-image: url("{{ 'home-video-bg.jpg' | asset_img_url: '1024x1024' }}");	
	    }
	  }
	  @media screen and (min-width: 1025px) {
	    .prlx-bg {
	      background-image: url("{{ 'home-video-bg.jpg' | asset_img_url: '2048x2048' }}");
	    }
	  }
	</style>

	<span class="prlx-bg"></span>

</div>
