{% if settings.home_section_a != 'home-none' %}
  <div id="{{ settings.home_section_a }}" class="home-section">{% include settings.home_section_a %}</div>
{% endif %}

{% if settings.home_section_b != 'home-none' %}
  <div id="{{ settings.home_section_b }}" class="home-section">{% include settings.home_section_b %}</div>
{% endif %}

{% if settings.home_section_c != 'home-none' %}
  <div id="{{ settings.home_section_c }}" class="home-section">{% include settings.home_section_c %}</div>
{% endif %}

{% if settings.home_section_d != 'home-none' %}
  <div id="{{ settings.home_section_d }}" class="home-section">{% include settings.home_section_d %}</div>
{% endif %}

{% if settings.home_section_e != 'home-none' %}
  <div id="{{ settings.home_section_e }}" class="home-section">{% include settings.home_section_e %}</div>
{% endif %}

{% if settings.home_section_f != 'home-none' %}
  <div id="{{ settings.home_section_f }}" class="home-section">{% include settings.home_section_f %}</div>
{% endif %}

{% if settings.home_section_g != 'home-none' %}
  <div id="{{ settings.home_section_g }}" class="home-section">{% include settings.home_section_g %}</div>
{% endif %}

{% if settings.home_section_h != 'home-none' %}
  <div id="{{ settings.home_section_h }}" class="home-section">{% include settings.home_section_h %}</div>
{% endif %}

{% if settings.home_section_i != 'home-none' %}
  <div id="{{ settings.home_section_i }}" class="home-section">{% include settings.home_section_i %}</div>
{% endif %}

{% if settings.home_section_j != 'home-none' %}
  <div id="{{ settings.home_section_j }}" class="home-section">{% include settings.home_section_j %}</div>
{% endif %}
