{% layout none %}
<!doctype html>
<html class="no-js">
<head>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>
    {{ shop.name }}
  </title>

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% include 'head_fonts' %}
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css' | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

</head>

<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="PageContainer"{% if color %} class="{{ color }}"{% endif %}>

    <header class="site-header site-header--{{ settings.menu_style }}" role="banner">
      <div class="wrapper">

        <h1 class="h1 site-header__logo {% if settings.logo_use_image %} display-table use-image {% endif %}" itemscope itemtype="http://schema.org/Organization">
        {% if settings.logo_use_image %}
          {% assign logo_inverted_url = 'logo-inverted.png' | asset_url %}
          <a href="/" itemprop="url" class="site-header__logo-link display-table-cell{% if use_logo_inverted %} logo--has-inverted{% endif %}">
            <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
          {% if use_logo_inverted %}
            <a href="/" itemprop="url" class="site-header__logo-link display-table-cell logo--inverted">
              <img src="{{ 'logo-inverted.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {% endif %}
        {% else %}
          <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
        {% endif %}
        </h1>

        <p class="password-login right">
          <a href="#login-modal" class="js-toggle-login-modal" data-mfp-src="#login-modal">
            <span aria-hidden="true">{% include 'asset_svg' with 'lock' %}</span>
            <span class="fallback-text">{{ 'general.password_page.password_link' | t }}</span>
          </a>
        </p>

      </div>
    </header>

    <div class="header__custom display-table parallax-bg">
      <div class="display-table-cell prlx-txt">
        <div class="wrapper wrapper--margins">

          <h2 itemprop="name" class="h1">{{ 'general.password_page.title' | t }}</h2>

          {% if shop.password_message != 'blank' %}
            <span>{{ shop.password_message }}</span>
          {% endif %}

          <hr />

        </div>
      </div>
      <span class="prlx-bg" style="background-color: {{ settings.color_body_bg_alt }}"></span>
    </div>

    <div class="wrapper wrapper--margins">

      <div class="text-center">

        <div class="password-form">
          {% form 'customer' %}
            {% if form.posted_successfully? %}
              <p class="password-form-heading" style="margin-bottom: 30px">{{ 'general.password_page.signup_form_success' | t }}</p>
            {% else %}
              {{ form.errors | default_errors }}
              <p class="password-form-heading">{{ 'general.password_page.signup_form_heading' | t }}</p>
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
              <div class="password-input-group clearfix">
                <input type="text" name="contact[email]" id="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autofocus>
                <input type="submit" class="btn btn--regular btn--fill btn--color" name="commit" value="{{ 'general.password_page.signup_form_submit' | t }}">
              </div>
            {% endif %}
          {% endform %}
        </div>

        {% if settings.password_sharing_enabled %}
          {% include 'page_share' %}
        {% endif %}

      </div>

      <footer id="password-footer" role="contentinfo">

        {% capture shopify %}
          <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            <span aria-hidden="true">{% include 'asset_svg' with 'shopify' %}</span>
            <span class="text shopify-name">Shopify</span>
          </a>
        {% endcapture %}

        {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}

      </footer>

    </div>

    <div id="login-modal" class="mfp-hide">

      <h3 class="h4">{{ 'general.password_page.login_form_heading' | t }}</h3>

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <div class="password-input-group clearfix">
          <input type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
          <input type="submit" class="btn btn--regular btn--fill btn--color" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </div>
      {% endform %}

      <p class="password-form-heading">{{ 'general.password_page.admin_link_html' | t }}</p>

    </div>

    {{ 'theme.js' | asset_url | script_tag }}

    <script>
      $(function() {
        $('.js-toggle-login-modal').magnificPopup({
          type: 'inline',
          mainClass: 'mfp-fade',
          closeOnBgClick: false,
          closeBtnInside: false,
          closeOnContentClick: false,
          removalDelay: 1,
          callbacks: {
            open: function() {
              window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
            },
            close: function() {
              window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
            }
          }
        });
        if ( $('.storefront-password-form .errors').size() ) {
          $('.js-toggle-login-modal').click();
        }
      });
    </script>

    </div>

  </body>
</html>